*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

footer{
    
    top: 0;
    height: 20vh;
    position: relative;
    border-style: none;
    align-items: center;
    background-color: #0E3812;
    border-style: solid #125f1ada;

}