
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}


body .container .content main{
    color: #58d95c;
    height: 75vh;
}

body .container .content main .main-content{
    margin-left: 150px;
}

body .container .content main .main-content p{
    margin-top: 100px;
}

/*Botões*/

body .container .content main .main-content input{
    margin-top: 5px;
    padding: 15px;
    border-radius: 50px;
    cursor: pointer;
    color: #FFFF;
    background-color: #BF1F36;
    border-style: none;
    font-size: medium;
    transition: .999s;

}

body .container .content main .main-content p{
    font-size: 24px;
}
body .container .content main .main-content h1 .slach{
   color: #328442;

}

body .container .content main .main-content input:hover{
    background-color: #f73a56;
    transition: .9s;
}

body .container .content main .main-content input + input{
    margin-left: 10px;
}

body .container .content main img{
    position: relative;

    height: 500px;
    width: 500px;
}
